<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/Testing/TheCapacity"><classes><class name="testCases.TC001_AccountRegistrationTest"><methods><include name="verify_account_registration"/></methods></class><class name="testCases.TC002_LoginTest"><methods><include name="verify_login"/></methods></class><class name="testCases.TC003_LoginPageDDT"><methods><include name="verify_login"/></methods></class><class name="testCases.TC004_CreateSurveyTest"><methods><include name="CreateSurvey"/></methods></class><class name="testCases.loginfo"><methods><include name="verify_account_registration"/></methods></class></classes></test></suite>